
@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%; 
    font-family: 'roboto-regular', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    overflow: hidden; 
}

#signUpMainContainer {
    width: 100%;
    height: 100vh; 
    position: relative;
    display: flex;
}

#leftImageContainer {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    background-image: linear-gradient(to bottom, rgba(89, 89, 89, 0.52), rgba(0, 0, 0, 0.73)),
    url('leftBackground.jpeg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;
}

#logo {
    height: 10rem;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 24.5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-size: clamp(1.5rem, 6vw + 1rem, 6.2rem);
    font-family: 'Norse-Bold', 'Arial';
}

#odinLogo {
    height: clamp(80px, 15vw, 90%);
    width: auto;
    object-fit: contain;
}




.gradient-text {
    color: transparent;
    background: linear-gradient(0deg, #bdbdbd, #ffffff);
    -webkit-background-clip: text;
    background-clip: text;
}

#rightFormContainer {
    width: 60%;
    height: 100vh;
    position: absolute;
    right: 0;
    background-color: #efefef;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
  }
  

  #topInformation {
    width: 75%;
    font-family: "Roboto", serif;
    font-weight: 450;
    padding-left: 3rem;
    padding-top: clamp(6rem, 15vh, 11rem);
    font-size: clamp(0.25rem, 3vw + 0.5rem, 2rem);
  }
  #belowTopInformation {
    width: 100%;
    font-size: clamp(0.25rem, 3vw + 0.5rem, 2rem);
    text-shadow: 1px 1px 1.5px black;
    padding-left: 3rem;
    margin-top: clamp(2rem, 4vh, 4rem);
    margin-bottom: clamp(2rem, 4vh, 4rem);
  }


#formMain {
    width: 100%;
    height: 33%; 
    background-color: #efefef;
    position: relative;
    box-sizing: border-box;
    margin: 0;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
#formTopText {
    font-family: "Roboto", serif;
    font-weight: 450;
    padding: clamp(0.5rem, 1.5vw + 0.5rem, 1.5rem) clamp(1rem, 3vw + 1rem, 3rem);
    background-color: #f7f7f7;
    font-size: 1.75rem;
    text-align: left;
    color: #545454;
}
#formInsideHolder {
    width: 100%;
    height: 50vh;
    display: flex;
    background-color: #f7f7f7;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;  
    box-sizing: border-box;
    margin: 0;
    padding: 0px 0px 0px clamp(1rem, 3vw + 1rem, 3rem);
    row-gap: 1rem;  
  }
.form {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 0;
    padding: 0;
    gap: .3rem;
    color: rgb(71, 71, 71);
    margin-right: -4rem;
}
.form input {
    width: 50%;
    margin: 0;
    padding: 0.3rem 0 0.3rem 0.5rem;  
    line-height: 1;
    height: 1.5rem; 
  }
  .form label {
    margin: 0;
    line-height: 1;
    font-size: 0.8rem;  
    font-weight:500;
  }

  #makeAccountHolder {
    margin: clamp(0.5rem, 1.5vw + 0.5rem, 1.5rem) clamp(1rem, 3vw + 1rem, 3rem);
  }
  #makeAccountBtn {
    background: #40464B;
    color:#f7f7f7;
    padding: 1rem 4.1rem;
    border-radius: 9px;
    border: 0;
    font-weight: 600;
    font-size: 1rem;
  }
  #accountText {
    margin-top: 1.5rem;
    font-weight: 500;
    font-size: 1.05rem;
  }
#logIn {
    text-shadow: rgb(27, 27, 27) 1px 0 1px;
    
}

#password:invalid, #passwordConfirm:invalid {
    border: 2px solid red;
}
#password:valid, #passwordConfirm:valid {
    border: 2px solid rgb(24, 24, 53)
}