@font-face {
    font-family: 'Norse-Bold';
    src: url('Norse-Bold.woff') format('woff'),
    font-weight: normal;
    font-style: normal;
}
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#signUpMainContainer {
    width: 100%;
    height: 100vh;
    position: relative;
}
#leftImageContainer {
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    background-image:linear-gradient(to bottom, rgba(89, 89, 89, 0.52), rgba(0, 0, 0, 0.73)),
    url('leftBackground.jpeg');  
    background-size: cover;
    background-position: center center;  
    background-repeat: no-repeat;
    image-rendering: -webkit-optimize-contrast;  
 
}
#logo {
    height: 7rem;
    width: 100%;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.5);
    top: 20%;
    color: white;
    display: flex;          
    align-items: center;    
    justify-content: center; 
    gap: 1rem;       
    font-size: clamp(1.5rem, 6vw + 1rem, 6.2rem);
    font-family: 'Norse-Bold', 'Arial';    
}
#rightFormContainer {
    width: 60%;
    height: 100%;
    position: absolute;
    right: 0;
}
#odinLogo {
        height: 80%;           
        width: auto;           
        object-fit: contain;   
}
.gradient-text {
    color: transparent; 
    background: linear-gradient(0deg, #7c7c7c, #ffffff); 
    -webkit-background-clip: text; 
    background-clip: text; 
}